* {
  margin: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.textmiddle {
  display: flex;
  flex-direction: column;
  font-size: 60px;
}

.textmiddle__left {
  padding-left: 100px;
}

.textmiddle__right {
  padding-left: 200px;
}

.texts {
  padding-top: 100px;
  padding-left: 40px;
  font-size: small;
}

.headerLeft__upper {
  display: flex;
}

.headerLeft__upper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.icons > .MuiSvgIcon-root {
  margin-right: 0.5vw;
  color: #c6b3fd;
}

.headerLeft {
  flex: 0.5;
  background-image: url("https://cdn.pixabay.com/photo/2017/04/03/15/51/waves-2198764_960_720.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.headerRight {
  flex: 0.5;
  background-image: url("https://cdn.pixabay.com/photo/2021/04/03/02/31/ao-dai-6146344_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.headerRight__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headerRight__container1 {
  height: 20vh;
}

.headerRight__container2 {
  height: 20vh;
}

.headerRight__container3 {
  height: 20vh;
}

.headerRight__container4 {
  height: 20vh;
}

.headerRight__container5 {
  width: auto;
  height: 100vh;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.headerRight__container5:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}
