* {
  margin: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.headerLeft {
  flex: 0.5;
}

.headerRight {
  flex: 0.5;
  background-image: url("https://cdn.pixabay.com/photo/2021/04/03/02/31/ao-dai-6146344_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.circle {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
  backdrop-filter: blur(2px);
}
